.Header {
    width: 100%;
    height: 30vh;
}
.Header div {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
}
.Header div img {
    object-position: center;
    object-fit: contain;
    max-width: 80%;
}
